@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1477360004_6993876.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1477360004_6993876.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1477360004_6993876.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1477360004_6993876.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1477360004_6993876.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
                   
[class^="kb-icon-"], [class*=" kb-icon-"]{
	font-family: 'iconfont';
	font-style:normal;
	display: inline-block;
	&:before{
		display: block;
	}
}
.kb-icon-arrow{
	&:before{
		content: '\e600';
	}
}
.kb-icon-arrow-down{
	&:before{
		content: '\e605';
	}
}
.kb-icon-min-close{
	&:before{
		content: '\e602';
	}
	&:hover{
		&:before{
			content: '\e601';
		}
	}
}
.kb-icon-right{
	&:before{
		content: '\e604';
	}
}
.kb-icon-left{
	&:before{
		content: '\e603';
	}
}
.kb-icon-selecte{
	&:before{
		content: '\e606';
	}
}
.kb-icon-add{
	&:before{
		content: '\e607';
	}
}
.kb-icon-view{
	&:before{
		content: '\e608';
	}
}
.kb-icon-trash{
	&:before{
		content: '\e609';
	}
}
.kb-icon-close{
	&:before{
		content: '\e60a';
	}
}
.kb-icon-dengdai{
	&:before{
		content: '\e62a';
	}
}
.kb-icon-bangzhu{
	&:before{
		content: '\e629';
	}
}
.kb-icon-tishi{
	&:before{
		content: '\e628';
	}
}
.kb-icon-jingshi{
	&:before{
		content: '\e627';
	}
}
.kb-icon-shibai{
	&:before{
		content: '\e626';
	}
}
.kb-icon-chenggong{
	&:before{
		content: '\e625';
	}
}
.kb-icon-xiala{
	&:before{
		content: '\e60b';
	}
}
.kb-icon-more{
	&:before{
		content: '\e60c';
	}
}